name: CI Project (Fullstack)

on:
    push:
        branches: ["main", "develop"]
    pull_request:
        branches: ["main", "develop"]

jobs:
    backend-check:
        runs-on: ubuntu-latest
        defaults:
            run:
                working-directory: ./backend

        steps:
            - name: Download code
              uses: actions/checkout@v4

            - name: Install UV
              uses: astral-sh/setup-uv@v3
              with:
                enable-cache: true
            
            - name: Python version
              uses: uv pyhton install 3.12

            - name: Install packages
              uses: uv sync --all-extras --dev

            - name: Run test
              uses: uv run pytest

    frontend-check:
        runs-on: ubuntu-latest
        defaults:
            run: 
                working-directory: ./frontend
        
        steps: 
            - name: Download code
              uses: actions/checkout@v4

            - name: Node version
              uses: actions/setup-node@v4
              with:
                node-version: 11.6.1
                cache: 'npm'
                cache-dependency-path: frontend/package-lock.json
            
            - name: Install packages
              uses: npm ci

            - name: Test Build
              uses: npm run build
